<!DOCTYPE html>
<html lang="en">

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>

    <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>

</head>
<center>

<body class="body" style= "background-color: Gray">

<h1>Welcome to Conrad Restaurant</h1>

 <label>WeLcoMe To CoNaRAd REsTauranT!!!!</label>
<center>
<header>

        <ul>
            <li><a href="#">HOME</a> </li>
            <li><a href="#">ABOUT</a> </li>
            <li><a href="#">SERVICES</a> </li>
            <li><a href="#">CONTACT</a> </li>

        </ul>

</header>
</center>
<!--
<div class="container">

  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

-->



<form action='{% url "orders:detail1"%}' method="post" >
{% csrf_token %}
    <h2><b>Enter Date:</b></h2>
    <input type="date" name="ganu">
<button type="submit" value="submit" class="btn">Submit</button>
    </form>
    <!--<label for="id_xfrom">From</label>
    {{form.xfrom}}
    <br>


-->
<form action='{% url "orders:onday"%}' method="post" >
{% csrf_token %}
    <h2><b>Enter Day:</b></h2>
    <input type="text" name="handle">


    <button type="submit" value="submit" class="btn">Submit</button>
</form>

    </script>
</form>



    </center>
</body>
</html>